.venv/*
venv
.venv/
.env
env
src/abtypatdc/__pycache__/*
src/acharya/__pycache__/*
src/acharya/migrations/*
src/account/__pycache__/*
src/account/migrations/*
*db.sqlite3
src/media/*
src/db.sqlite3
.venv/*
src/media/*
src/media/
.env
.vscode


**/__pycache__/
__pycache__
**/migrations
/migrations
